{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<article class="post">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}
    <p class="post-description">{{ . }}</p>
    {{ end }}
    <div class="post-meta">
      {{ with .Params.author }}<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16 16" fill="currentColor" class="bi bi-person-fill me-2" style="margin-right: 4px; vertical-align: middle; margin-top: -3px;"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>{{ . }}{{ end }} &nbsp;&sdot;&nbsp;
      {{ $readTime := div (countwords .Content) 200 }}
      {{ $readTime := add $readTime 1 }}
      {{ if eq $readTime 1 }}
        {{ $readTime }} min read
      {{ else }}
        {{ $readTime }} mins read
      {{ end }} &nbsp;&sdot;&nbsp;
      {{ $wordCount := countwords .Content }}
      {{ $wordCount }} words &nbsp;&sdot;&nbsp;
      <time datetime='{{ .Date.Format "2006-01-02" }}'>
        {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
      </time>
    </div>
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
  {{ with .Params.tags }}
  <footer class="post-footer">
    {{ range . }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="post-tag">#{{ . }}</a>
    {{ end }}
  </footer>
  {{ end }}
</article>
{{ else }}
<article class="page">
  {{ .Content }}
</article>
{{ end }}{{ else }}
<article class="page">
  {{ .Content }}
</article>
{{ end }}
{{ end }}
